<form [formGroup]="nForm"  class="example-form" >
  
  <div style="text-align:center">
    <h1>Travelling portal</h1>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName='name' >
      </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Type" formControlName='typee'>
        <mat-option *ngFor="let typee of type" [value]="typee">{{typee}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select placeholder="Colour" formControlName='color'>
          <mat-option *ngFor="let color of colour" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Car Number" formControlName='vno'>
        </mat-form-field>
        <br>
          <h4>No of Seats</h4>
        <mat-radio-group class="example-radio-group" formControlName='seat'>
            <mat-radio-button class="example-radio-button" *ngFor="let seat of seats" [value]="seat">
              {{seat}}
            </mat-radio-button>
          </mat-radio-group>
          <br><br>
          
    

   
    
    
        <br>
        <button mat-raised-button [disabled]="!nForm.valid"color="primary" (click)="data(nForm.value)">Submit</button>
     
      </div>
    </form>
