<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="aname">
      <th mat-header-cell *matHeaderCellDef> Author Name </th>
      <td mat-cell *matCellDef="let element"> {{element.aname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="page">
      <th mat-header-cell *matHeaderCellDef> Pages </th>
      <td mat-cell *matCellDef="let element"> {{element.page}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  